@using QR_Bar_Generator_App.Models.ViewModels;
@model QR_Bar_Generator_App.Models.ViewModels.InputFormViewModel;


@{
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm border-0">
                <div class="card-body p-4">
                    <h4 class="mb-4 text-center">QR or BAR Generator</h4>
                    <form method="post" autocomplete="off">
                        <div class="mb-3">
                            <label for="codeType" class="form-label">Type</label>
                            <select class="form-select" id="codeType" name="codeType" asp-for="codeType" asp-items="Html.GetEnumSelectList<CodeType>()" required></select>
                        </div>
                        <div class="mb-3">
                            <label for="inputData" class="form-label">Input data</label>
                            <textarea class="form-control" rows="5" id="inputData" placeholder="Enter your data" asp-for="inputData" required></textarea>
                        </div>
                        <div class="mb-4">
                            @{
                                if(Model != null)
                                {
                                    <label for="qrImage" class="form-label">QR Image</label><br />
                                    <img src=@Model.imageData alt="QR image" />
                                }
                            }
                        </div>
                        <div style="justify-items: center;">
                            <hr class="w-100" />
                        </div>
                        <div class="d-grid mt-4" style="justify-items: center;">
                            <button id="subBtn" style="justify-self: center; width: 50%;" onclick="generate()"
                                    type="submit"
                                    class="btn btn-primary btn-lg">
                                Generate
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>